# **Statistics Case Study - Unit II**

**Team Members:**

* Gangineni Aravind (21bcs039),
* Makam Sujith (21BCS061),
* Manepalli R V Sreeraaj (21BCS064)


**We have Considered Various Places In World:**

Index :

**Z-Test for Hypothesis** :

1.   One Sample Z-Test (Unknown Variance)
2.   Two Sample Z-Test (Same population)
3.   Two Sample Z-Test (Different population)

**T-Test for Hypothesis** :


1.   One Sample T-Test (Unknown Variance)
2.   Two Sample T-Test (Same population)
3.   Two Sample T-Test (Different population)


**Proportion Test for Hypothesis**:

1. One Sample Proportion-Test (Unknown Variance)

## One Sample Z-Test (Unknown Variance) :

H0 (Null Hypothesis) : The average Birth Rate is more than 40.

H1 (Alternate Hypothesis) : The average Birth Rate is not more than 40.

Importing the necessary python modules

In [39]:
import pandas as pd
import numpy as np
from scipy import stats as ss
import statistics as st
import math
from sklearn.preprocessing import StandardScaler

## Defining the One Sample Z-Test function

In [40]:
def one_sample_z_test(s_mean, μ, s_dev, s_size):
  den = ((s_dev) / math.sqrt(s_size-1))
  z_cal = abs(s_mean - μ) / den
  return round(z_cal, 5)

Loading and storing the dataset and performing random sampling on it

In [41]:
file_path = "world-data-2023-1.csv"
data = pd.read_csv(file_path)

alpha = 0.05 # Level of significance

pop_mean = 40.0 # Mean we are testing against (μ)

sample_size = 50

z_tabulated = 1.645 # Z_tab @ alpha = 0.05 and one-tailed test

sample = np.random.choice(data['Birth Rate'], size=sample_size, replace=False)

sample

array([29.08, 14.  , 38.54, 29.41, 21.6 , 13.99, 40.73, 33.24, 10.  ,
       24.56, 12.  , 12.43, 10.3 , 17.02, 12.5 , 10.1 , 32.66, 24.82,
       35.13, 11.78, 17.86, 11.3 , 10.9 , 13.97,  7.4 , 21.98, 19.97,
       10.1 ,  8.1 , 16.75, 17.6 , 41.54, 35.74, 32.49, 10.2 , 10.7 ,
       13.47, 26.81, 35.39, 13.97,  8.9 ,  8.11, 13.92, 41.18, 10.65,
       21.28, 42.17, 23.55, 16.1 , 17.55])

Calculating necessary values and performing the test

In [42]:
mean = np.mean(sample)

std_dev = np.std(sample, ddof=1) # ddof=1 for sample standard deviation

z_calculated = one_sample_z_test(mean, pop_mean, std_dev, sample_size)

print("Z_Calculated Value : ", z_calculated)

print("Z_Tabulated Value : ", z_tabulated)

Z_Calculated Value :  12.95886
Z_Tabulated Value :  1.645

In [43]:
# Perform the hypothesis test
if abs(z_calculated) >= z_tabulated:
    result = "Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)"
else:
    result = "Accept the null hypothesis (H0)"

In [44]:
print('Result : ' , result)

Result :  Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)

Testing with the confidence interval.

In [45]:
limit = z_tabulated * (std_dev/(math.sqrt(sample_size)))

lower_limit = mean - limit
upper_limit = mean + limit

print("Confidence Interval - (95%) : ")

print(lower_limit , " < μ < " , upper_limit)

Confidence Interval - (95%) :
17.791541854534707  < μ <  22.75005814546529

### Two Sample Z-Test (Same population) :
*(Two Samples are drawn from the same population)*


H0 (Null Hypothesis) : The average Birth Rate both samples is same.

H1 (Alternate Hypothesis) : The average Birth Rate both sample is not same.

Defining Two Sample (Same Population) Z-Test function.

In [46]:
def two_sample_z_same_population(s_mean1, s_mean2, s_size1, s_size2, s_dev1, s_dev2):
    temp = (1/(s_size1-1)) + (1/(s_size2-1))
    df = s_size1 + s_size2 - 2
    var = (s_size1 - 1) * s_dev1*s_dev1 + (s_size2 - 1) * s_dev2*s_dev2
    sP = var/df # Pooled Variance
    z_cal = abs(s_mean1 - s_mean2) / (sP * math.sqrt(temp))
    return [round(z_cal, 5),sP]  # Round to 5 decimal places

Loading and storing the dataset and performing random sampling on it

In [47]:
# file_path = '/content/dataset_bank.csv'
data_m = pd.read_csv(file_path)

alpha_m = 0.10 # Level of significance

z_tabulated_m = 1.282 # Z_tab @ alpha = 0.10 and one-tailed test

#married_age_data = data_m.loc[data_m['marital'] == 'married', 'age'].to_numpy()
birth_rate = data['Birth Rate']

# Create two random samples with sizes greater than 30
msample1 = np.random.choice(birth_rate, size=40, replace=False)
msample2 = np.random.choice(birth_rate, size=35, replace=False)

# Display the two random samples
print("\nRandom Sample 1:")
print(msample1)
print("\nRandom Sample 2:")
print(msample2)

mean_1 = np.mean(msample1)
mean_2 = np.mean(msample2)

std_dev1 = np.std(msample1)
std_dev2 = np.std(msample2)

n1 = len(msample1)
n2 = len(msample2)

Random Sample 1:
[10.   34.12 18.25 33.69 11.78 24.28 12.5  31.61 13.99 10.7   9.   21.28
 14.   20.79  8.9  10.9  41.54 40.73  7.4  17.6  10.1  10.3  10.65  8.11
 18.78 13.97 12.43 10.9  33.24 36.22 10.2  19.97 29.08 35.39  9.5  33.04
 12.   13.92 10.   17.26]

Random Sample 2:
[12.43 32.86 10.1  35.39 11.78 18.78 28.75 33.24 40.73 10.2  17.26 41.54
 13.47 24.56 24.35  8.9  16.1  13.97 17.86  8.11 14.   12.6  35.74 36.22
 26.81 33.69 10.   12.   13.92  9.6  16.75 32.49 31.61 32.66 10.1 ]

Calculating necessary values and performing the test

In [48]:
res = two_sample_z_same_population(mean_1, mean_2, n1, n2, std_dev1, std_dev2)

z_calculated_m = res[0]

print("Z_Calculated Value : ", z_calculated_m)

print("Z_Tabulated Value : ", z_tabulated_m)

Z_Calculated Value :  0.10592
Z_Tabulated Value :  1.282

In [49]:
# Perform the hypothesis test
if abs(z_calculated_m) >= z_tabulated_m:
    result_m = "Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)"
else:
    result_m = "Accept the null hypothesis (H0)"

In [50]:
print('Result : ' , result_m)

Result :  Accept the null hypothesis (H0)

Testing with the confidence interval.

In [51]:
sP = res[1] # Pooled Variance
m_mean = abs(mean_1 - mean_2)

temp = (1/(n1-1)) + (1/(n2-1))

m_limit = z_tabulated_m * (sP * math.sqrt(temp))

lower_limit = m_mean - limit
upper_limit = m_mean + limit

print("Confidence Interval - (90%) : ")

print(lower_limit , " < μ1 - μ2 < " , upper_limit)

Confidence Interval - (90%) :
0.20545614024899672  < μ1 - μ2 <  5.163972431179582

### Two Sample Z-Test (Different population) :
*(Two Samples are drawn from the different population)*



H0 (Null Hypothesis) : The average of both samples is same.

H1 (Alternate Hypothesis) : The average of both sample is not same.

Defining Two Sample (*Different* Population) Z-Test function.

In [52]:
def two_sample_z_different_population(s_mean1, s_mean2, s_size1, s_size2, s_dev1, s_dev2):
  temp1 = ((s_dev1)**2 / (s_size1 - 1))
  temp2 = ((s_dev2)**2 / (s_size2 - 1))
  den = math.sqrt(temp1 + temp2)
  z_cal = abs(s_mean1 - s_mean2) / den
  return [round(z_cal, 5), den]  # Round to 5 decimal places

Loading and storing the dataset and performing random sampling on it

In [53]:
# file_path = '/content/dataset_bank.csv'
data_m = pd.read_csv(file_path)

alpha_m = 0.10 # Level of significance

z_tabulated_m = 1.282 # Z_tab @ alpha = 0.10 and one-tailed test

birth_rate = data['Birth Rate']
life_expectancy =data['Life expectancy']


# Create two random samples with sizes greater than 30
m_sample1 = np.random.choice(birth_rate, size=42, replace=False)
m_sample2 = np.random.choice(life_expectancy, size=36, replace=False)

# Display the two random samples
print("\nRandom Sample 1: (Birth)")
print(m_sample1)
print("\nRandom Sample 2: (Life)")
print(m_sample2)

mean_1 = np.mean(m_sample1)
mean_2 = np.mean(m_sample2)

std_dev1 = np.std(msample1)
std_dev2 = np.std(msample2)

n1 = len(m_sample1)
n2 = len(m_sample2)

Random Sample 1: (Birth)
[ 9.2  24.56 33.69 12.6  40.73  9.5  10.   21.75 14.   21.6  18.18 33.24
 10.1  35.35 16.75 17.55 33.04 21.28 29.08 10.3  35.13 20.8  10.3  10.7
  9.6   8.1   9.   18.07 10.9  11.78 18.78 42.17  8.9  29.41 10.2  37.93
 13.92  8.11 19.72 12.   19.49 17.26]

Random Sample 2: (Life)
[63.7 73.8 70.5 61.5 84.2 78.9 82.1 80.  64.3 67.6 60.8 72.3 61.2 64.5
 67.3 72.9 69.8 71.2 74.4 74.7 73.6 82.8 60.4 54.  60.4 73.1 78.1 66.2
 82.7 76.7 58.  79.1 81.9 75.  69.3 82.3]

Calculating necessary values and performing the test

In [54]:
t_res = two_sample_z_different_population(mean_1, mean_2, n1, n2, std_dev1, std_dev2)

z_calculated_ms = t_res[0]

print("Z_Calculated Value : ", z_calculated_ms)

print("Z_Tabulated Value : ", z_tabulated_m)

Z_Calculated Value :  21.77348
Z_Tabulated Value :  1.282

In [55]:
# Perform the hypothesis test
if abs(z_calculated_ms) >= z_tabulated_m:
    result_ms = "Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)"
else:
    result_ms = "Accept the null hypothesis (H0)"

print('Result : ' , result_ms)

Result :  Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)

Testing with the confidence interval.

In [56]:
tent = t_res[1]

limit_ms = z_tabulated * (tent)

ms_mean = abs(mean_1 - mean_2)

lower_limit = ms_mean - limit_ms
upper_limit = ms_mean + limit_ms

print("Confidence Interval - (90%) : ")

print(lower_limit , " < μ1 - μ2 < " , upper_limit)

Confidence Interval - (90%) :
48.26388862276619  < μ1 - μ2 <  56.152619313741766

### One Sample T-Test (Unknown Variance) :

H0 (Null Hypothesis) : The average CPIis more than 280 seconds.

H1 (Alternate Hypothesis) : The average CPI is not more than 280 seconds.

Defining One Sample Z-Test function.

In [57]:
def one_sample_t_test(s_mean, μ, s_dev, s_size):
  den = ((s_dev) / math.sqrt(s_size-1))
  t_cal = abs(s_mean - μ) / den
  return round(t_cal, 5)

Loading and storing the dataset and performing random sampling on it

In [58]:
# file_path = '/content/dataset_bank.csv'
data = pd.read_csv(file_path)

alpha = 0.05 # Level of significance

pop_duration = 280.0 # Mean we are testing against (μ)

sample_size = 18

t_tabulated = 1.7396 # Z_tab @ alpha = 0.05 and one-tailed test

sample = np.random.choice(data['CPI'], size=sample_size, replace=False)

print(sample)

[106.58 113.45 135.02 105.48 111.65 129.   119.8  119.05 261.73 105.68
 149.75 129.91 122.14 116.76 132.3  268.36 121.46 167.4 ]

Calculating necessary values and performing the test

In [59]:
mean = np.mean(sample)

std_dev = np.std(sample, ddof=1) # ddof=1 for sample standard deviation

t_calculated = one_sample_t_test(mean, pop_mean, std_dev, sample_size)

df = sample_size - 1

print("T_Calculated Value : ", t_calculated)

print("T_Tabulated Value : ", t_tabulated)

T_Calculated Value :  8.53333
T_Tabulated Value :  1.7396

In [60]:
# Perform the hypothesis test
if abs(t_calculated) >= t_tabulated:
    result = "Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)"
else:
    result = "Accept the null hypothesis (H0)"

print('Result : ' , result)

Result :  Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)

Testing using the confidence interval!

In [61]:
limit = t_tabulated * (std_dev/(math.sqrt(sample_size)))

lower_limit = mean - limit
upper_limit = mean + limit

print("Confidence Interval - (95%) : ")

print(lower_limit , " < μ < " , upper_limit)

Confidence Interval - (95%) :
119.98883565460834  < μ <  159.51338656761385

### Two Sample T-Test (Same population) :
*(Two Samples are drawn from the same population)*


H0 (Null Hypothesis) : The average CPI of both samples is same.

H1 (Alternate Hypothesis) : The average CPI of both sample is not same.

Defining Two Sample (Same Population) Z-Test function.

In [62]:
def two_sample_t_same_population(s_mean1, s_mean2, s_size1, s_size2, s_dev1, s_dev2):
    temp = (1/(s_size1-1)) + (1/(s_size2-1))
    df = s_size1 + s_size2 - 2
    var = (s_size1 - 1) * s_dev1*s_dev1 + (s_size2 - 1) * s_dev2*s_dev2
    sP = var/df # Pooled Variance
    t_cal = abs(s_mean1 - s_mean2) / (sP * math.sqrt(temp))
    return [round(t_cal, 5),sP]  # Round to 5 decimal places

Loading and storing the dataset and performing random sampling on it.

In [63]:
# file_path = '/content/dataset_bank.csv'
data_m = pd.read_csv(file_path)

alpha_m = 0.10 # Level of significance

t_tabulated_m = 2.7874 # Z_tab @ alpha = 0.10 and one-tailed test @ d.f = 25

cpi = data['CPI']

# Create two random samples with sizes greater than 30
msample1 = np.random.choice(cpi, size=13, replace=False)
msample2 = np.random.choice(cpi, size=14, replace=False)

# Display the two random samples
print("\nRandom Sample 1:")
print(msample1)
print("\nRandom Sample 2:")
print(msample2)

mean_1 = np.mean(msample1)
mean_2 = np.mean(msample2)

std_dev1 = np.std(msample1)
std_dev2 = np.std(msample2)

n1 = len(msample1)
n2 = len(msample2)

df = n1 + n2 -2

Random Sample 1:
[140.95 124.35 182.75 261.73 162.47 115.09 119.05 141.54 179.68 111.23
 418.34 119.8  133.85]

Random Sample 2:
[135.87 148.32 149.75 184.33 110.71 550.93 162.47 172.73 142.92 113.45
 119.8  155.68 129.91 140.95]

Calculating necessary values and performing the test.

In [64]:
res = two_sample_t_same_population(mean_1, mean_2, n1, n2, std_dev1, std_dev2)

t_calculated_m = res[0]

print("T_Calculated Value : ", t_calculated_m)

print("T_Tabulated Value : ", t_tabulated_m)

T_Calculated Value :  0.00072
T_Tabulated Value :  2.7874

In [65]:
# Perform the hypothesis test
if abs(t_calculated_m) >= t_tabulated_m:
    result_m = "Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)"
else:
    result_m = "Accept the null hypothesis (H0)"

print('Result : ' , result_m)

Result :  Accept the null hypothesis (H0)

Testing with the help of confidence interval.

In [66]:
sP = res[1] # Pooled Variance
m_mean = abs(mean_1 - mean_2)

temp = (1/(n1-1)) + (1/(n2-1))

m_limit = t_tabulated_m * (sP * math.sqrt(temp))

lower_limit = m_mean - limit
upper_limit = m_mean + limit

print("Confidence Interval - (90%) : ")

print(lower_limit , " < μ1 - μ2 < " , upper_limit)

Confidence Interval - (90%) :
-17.12469303892037  < μ1 - μ2 <  22.399857874085157

### Two Sample T-Test (Different population) :
*(Two Samples are drawn from the different population)*

Population : Birth Rate and Life expectancy

H0 (Null Hypothesis) : The average  of both samples is same.

H1 (Alternate Hypothesis) : The average  of both sample is not same.

Defining Two Sample (*Different* Population) Z-Test function.

In [67]:
def two_sample_t_different_population(s_mean1, s_mean2, s_size1, s_size2, s_dev1, s_dev2):
  temp1 = ((s_dev1)**2 / (s_size1 - 1))
  temp2 = ((s_dev2)**2 / (s_size2 - 1))
  den = math.sqrt(temp1 + temp2)
  t_cal = abs(s_mean1 - s_mean2) / den
  return [round(t_cal, 5), den]  # Round to 5 decimal places

Loading and storing the dataset and performing random sampling on it

In [68]:
# file_path = '/content/dataset_bank.csv'
data_m = pd.read_csv(file_path)

alpha_m = 0.05 # Level of significance

t_tabulated_m = 2.0484 # Z_tab @ alpha = 0.10 and one-tailed test @ dof =28

birth_rate = data['Birth Rate']
life_expectancy = data['Life expectancy']

# Create two random samples with sizes greater than 30
m_sample1 = np.random.choice(birth_rate, size=17, replace=False)
m_sample2 = np.random.choice(life_expectancy, size=13, replace=False)

# Display the two random samples
print("\nRandom Sample 1: (Birth)")
print(m_sample1)
print("\nRandom Sample 2: (Life)")
print(m_sample2)

mean_1 = np.mean(m_sample1)
mean_2 = np.mean(m_sample2)

std_dev1 = np.std(msample1)
std_dev2 = np.std(msample2)

n1 = len(m_sample1)
n2 = len(m_sample2)

df = n1 + n2 - 2

Random Sample 1: (Birth)
[17.6  14.   31.61  8.9  18.07 18.18 41.54 13.97 10.65  9.5  32.66 33.04
 10.1  16.75 19.72 16.1  21.75]

Random Sample 2: (Life)
[64.3 69.8 71.2 73.6 76.5 67.3 75.  63.7 84.2 74.4 60.4 77.1 67.6]

In [69]:
t_res = two_sample_z_different_population(mean_1, mean_2, n1, n2, std_dev1, std_dev2)

t_calculated_ms = t_res[0]

print("T_Calculated Value : ", t_calculated_ms)

print("T_Tabulated Value : ", t_tabulated_m)

T_Calculated Value :  1.39132
T_Tabulated Value :  2.0484

In [70]:
# Perform the hypothesis test
if abs(t_calculated_ms) >= t_tabulated_m:
    result_ms = "Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)"
else:
    result_ms = "Accept the null hypothesis (H0)"

print('Result : ' , result_ms)

Result :  Accept the null hypothesis (H0)

Testing with the help of confidence interval!

In [71]:
tent = t_res[1]

limit_ms = t_tabulated_m * (tent)

ms_mean = abs(mean_1 - mean_2)

lower_limit = ms_mean - limit_ms
upper_limit = ms_mean + limit_ms

print("Confidence Interval - (90%) : ")

print(lower_limit , " < μ1 - μ2 < " , upper_limit)

Confidence Interval - (90%) :
-24.324725631858712  < μ1 - μ2 <  127.33721431964153

### One Sample Proportion-Test (Unknown Variance) :

H0 (Null Hypothesis) : The proportion of cpi is more than 0.40.

H1 (Alternate Hypothesis) : The proportion of cpi is less than 0.40.

Seperating married clients and calculating necessary parameters!!

In [72]:
# file_path = '/content/dataset_bank.csv'
dataset = pd.read_csv(file_path)

sample_size = 50

sample = np.random.choice(data['CPI'], size=sample_size, replace=False)

# Convert the sample to a Pandas DataFrame
sample_df = pd.DataFrame({'CPI': sample})


cpi = data['CPI']

print("No of Entities : ", len(cpi))

count_married = len(cpi)
count_total = len(sample)

No of Entities :  84

Defining proportion one sample test function!!

In [73]:
def calculate_z_proportion_one(p_sample,p_pop,s_size):
    q_pop = 1 - p_pop
    den = math.sqrt((p_pop * q_pop)/(s_size-1))
    z_cal = abs(p_sample-p_pop) / den
    return [round(z_cal, 5),den]

Calculating proportion parameters and testing the hypothesis!!

In [74]:
p_sample = count_married / count_total
p_pop = 0.40 # According to hypothesis

z_tab = 1.645 # @ alpha = 0.05 and one-tailed test

res = calculate_z_proportion_one(p_sample, p_pop, sample_size)

z_calculated = res[0]

den = res[1]

print("Z-Calculated : ", z_calculated)
print("Z-Tabulated : ", z_tab)

Z-Calculated :  18.28952
Z-Tabulated :  1.645

In [75]:
# Perform the hypothesis test
if abs(z_calculated) >= z_tab:
    result = "Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)"
else:
    result = "Accept the null hypothesis (H0)"

print('Result : ' , result)

Result :  Reject the null hypothesis (H0) (or) Accepting alternate hypothesis (H1)

Testing using the confidence intervals!!

In [76]:
limit = z_tab * (den)

lower_limit = p_sample - limit
upper_limit = p_sample + limit

print("Confidence Interval - (95%) : ")

print(lower_limit , " < p < " , upper_limit)

Confidence Interval - (95%) :
1.5648739820891906  < p <  1.7951260179108093